@import "tailwindcss";
@import "tw-animate-css";
.pswp__img {
  max-width: 100vw;
  max-height: 90vh;
  object-fit: contain;
  margin: auto;
}
@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --font-serif: Bevan, ui-serif, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --sidebar-ring: var(--sidebar-ring);
  --sidebar-border: var(--sidebar-border);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-accent: var(--sidebar-accent);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-primary: var(--sidebar-primary);
  --sidebar-foreground: var(--sidebar-foreground);
  --chart-1: var(--chart-1);
  --ring: var(--ring);
  --input: var(--input);
  --accent-foreground: var(--accent-foreground);
  --popover-foreground: var(--popover-foreground);
  --popover: var(--popover);
  --card-foreground: var(--card-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.98 0.0155 86.424);
  --foreground: oklch(0.2791 0.0298 57.4103);
  --card: oklch(0.9904 0.0107 95.1597);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7289 0.1871 52.1549);
  --primary-foreground: oklch(0.9911 0 0);
  --secondary: oklch(0.9304 0.0399 69.7348);
  --secondary-foreground: oklch(0.2513 0.04 59.5812);
  --muted: oklch(0.8991 0.0197 60.1487);
  --muted-foreground: oklch(0.4507 0.0295 80.898);
  --accent: oklch(0.9095 0.0497 59.2434);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.6292 0.1802 24.9661);
  --border: oklch(0.8796 0.0101 87.4768);
  --input: var(--border);
  --ring: var(--primary);
  --chart-1: var(--primary);
  --chart-2: oklch(0.6811 0.18 40.0579);
  --chart-3: oklch(0.7199 0.1572 68.7311);
  --chart-4: oklch(0.779 0.1397 84.8333);
  --chart-5: oklch(0.8509 0.1006 95.4497);
  --sidebar: oklch(0.9705 0.0098 87.4708);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --destructive-foreground: oklch(0.9791 0 0);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bevan, ui-serif, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0px;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 8px -2px hsl(0 0% 0% / 0.1),
    0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 8px -2px hsl(0 0% 0% / 0.1),
    0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.1),
    0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
}

.dark {
  --background: oklch(0.1785 0.0193 54.9389);
  --foreground: oklch(0.9787 0.0095 93.5671);
  --card: oklch(0.2304 0.0204 63.1734);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7289 0.1871 52.1549);
  --primary-foreground: oklch(0.9911 0 0);
  --secondary: oklch(0.2614 0.0199 56.6956);
  --secondary-foreground: oklch(0.9605 0.0108 95.1644);
  --muted: oklch(0.2489 0.0201 56.6169);
  --muted-foreground: oklch(0.7006 0.0198 86.165);
  --accent: oklch(0.3 0.0293 66.3242);
  --accent-foreground: oklch(0.9605 0.0108 95.1644);
  --destructive: oklch(0.4492 0.17 24.9018);
  --border: oklch(0.2803 0.0196 63.5349);
  --input: var(--border);
  --ring: var(--primary);
  --chart-1: oklch(0.7049 0.1867 47.6044);
  --chart-2: oklch(0.6461 0.1943 41.1158);
  --chart-3: oklch(0.6658 0.1574 58.3183);
  --chart-4: oklch(0.7576 0.159 55.9344);
  --chart-5: oklch(0.8366 0.1165 66.2896);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --destructive-foreground: oklch(0.9791 0 0);
  --radius: 0.5rem;
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bevan, ui-serif, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.25;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0px;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 2px 8px -2px hsl(0 0% 0% / 0.25),
    0px 1px 2px -3px hsl(0 0% 0% / 0.25);
  --shadow: 0px 2px 8px -2px hsl(0 0% 0% / 0.25),
    0px 1px 2px -3px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 2px 8px -2px hsl(0 0% 0% / 0.25),
    0px 2px 4px -3px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 2px 8px -2px hsl(0 0% 0% / 0.25),
    0px 4px 6px -3px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.25),
    0px 8px 10px -3px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.63);
  --text-shadow-sm: 0 1px 2px var(--tw-shadow-color);
  --text-shadow-DEFAULT: 0 2px 4px var(--tw-shadow-color);
  --text-shadow-lg: 0 8px 16px var(--tw-shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
@layer utilities {
  .bg-mesh {
    background-color: #f3f4f6;
    background-image: radial-gradient(at 10% 20%, #a5b4fc 0px, transparent 50%),
      radial-gradient(at 80% 0%, #fbcfe8 0px, transparent 50%),
      radial-gradient(at 50% 100%, #bbf7d0 0px, transparent 50%),
      radial-gradient(at 0% 100%, #fde68a 0px, transparent 50%);
  }
}
